<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content, active)">
<head>
    <title th:replace="${title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/static/styles.css}"/>
</head>
<body>
<div class="wrapper ">
    <div th:replace="~{fragments/fragments-header :: header(${active})}"></div>
    <div class="main-panel">
        <div th:replace="${content}"></div>
        <div th:replace="~{fragments/fragments-main-panel-footer :: main-panel-footer}"></div>
    </div>
</div>
</body>
</html>