<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::div.content}, 'add')}"
      lang="en">
<head>
    <title>Customer</title>
</head>
<body>
<div class="content">
    <div class="container-fluid">
        <h1 th:text="#{customer.addCustomer}">Add Customer</h1>

        <form action="#" th:action="@{/save}" th:object="${customer}" method="post" class="form">
            <input type="hidden" th:field="*{id}"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{customer.firstname}"></th>
                    <th th:text="#{customer.lastname}"></th>
                    <th th:text="#{customer.email}"></th>
                    <th th:text="#{customer.message}"></th>
                    <th th:text="#{customer.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input th:class="${#fields.hasErrors('firstname') ? 'form-control is-invalid' : 'form-control'}"
                               type="text" th:field="*{firstname}">
                        <p th:errors="*{firstname}" th:if="${#fields.hasErrors('firstname')}" th:text="#{customer.error}"></p>
                    </td>
                    <td>
                        <input th:class="${#fields.hasErrors('lastname') ? 'form-control is-invalid' : 'form-control'}"
                               type="text" th:field="*{lastname}">
                        <p th:errors="*{lastname}" th:if="${#fields.hasErrors('lastname')}" th:text="#{customer.error}"></p>
                    </td>
                    <td>
                        <input th:class="${#fields.hasErrors('email') ? 'form-control is-invalid' : 'form-control'}"
                               type="text" th:field="*{email}">
                        <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}" th:text="#{customer.error}"></p>
                    </td>
                    <td>
                        <input th:class="${#fields.hasErrors('message') ? 'form-control is-invalid' : 'form-control'}"
                               type="text" th:field="*{message}">
                        <p th:errors="*{message}" th:if="${#fields.hasErrors('message')}" th:text="#{customer.error}"></p>
                    </td>
                    <td>
                        <input type="submit" th:value="#{customer.save}">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>

</body>
</html>