<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::div.content}, 'home')}" lang="en">
<head>
    <title>Customer List</title>
</head>
<body>
<div class="content">
    <div class="container-fluid">
        <h1 th:text="#{customer.customerList}"></h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{customer.firstname}"></th>
                <th th:text="#{customer.lastname}"></th>
                <th th:text="#{customer.email}"></th>
                <th th:text="#{customer.message}"></th>
                <th th:text="#{customer.actions}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer,ind : ${customers}">
                <td th:text="${customer.firstname}"></td>
                <td th:text="${customer.lastname}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.message}"></td>
                <td>
                    <form style="display: inline" th:action="@{/edit/{id}(id=${customer.id})}" method="post">
                        <input type="submit" th:value="#{customer.edit}" class="btn btn-info"/>
                    </form>
                    <form style="display: inline" th:action="@{/delete/{id}(id=${customer.id})}" method="post">
                        <input type="submit" th:value="#{customer.delete}" class="btn btn-warning"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>